<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite_Cat</title>
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" src="flowplay/flowplayer-3.2.2.min.js"></script>
</head>
<body>
    <h1>Рыжий талисман</h1>
    <p>Если к дому подошел <i>рыжий</i> кот, то с питомцем впустишь богатство</p>
    <h2>Суеверия и приметы</h2>
    <ul>
        <li>Наши предки возвели "солнечного зверя" в ранг целителя</li>
        <li>Зверек с золотистым цветом шерсти способен излечить не только физические недуги</li>
        <li>Если рыжик ко живет в доме, значит, хозяевам повезло с энергетикой</li>
        <li>На Руси всегда знали - рыжий кот к деньгам</li>
    </ul>
    <h5>Кликни на поле ниже--> </h5>
    <div align="center">
        <a href="images/kis.mp4" style="display: block; width: 560px; height: 315px;" id="player"></a>
        <script type="text/javascript">
          flowplayer("player",  "/Users/mac/Desktop/Веб-сайт/flowplay");
        </script>
        </div>
    <p>Это мой домашний любимец - Тиша. Ему 2 годика или 24 года по кошачьим измерениям.</p>
    <p>Кот - настоящий гурман. Предпочитает есть продукцию фирмы <a class="button" href="https://jasnzori.ru/products/recipes/kuritsa-zapechennaya-v-khrustyashchey-korochke-s-imbirem-i-apelsinami/">жми</a></p>
    <h3>Портфолио кота</h3>
    <ol>
        <li>Тиша покоряет вершины</li>
        <li>Следит за обстановкой дома</li>
        <li>Немного ошарашен - сrazy cat</li>
        <li>Занимается гимнастикой</li>
            
    </ol>
    <img class="Im1" src="images/Cat4.jpg" alt="На дереве"><br>
    <img class="Im2" src="images/Cat1.jpg" alt="На подоконнике"><br>
    <img class="Im3" src="images/Cat2.jpg" alt="Играется"><br>
    <img class="Im4" src="images/Cat3.jpg" alt="Кот акробат"><br>
    

</body>
</html>




